<p>method1 works!</p>

Method: 1<br />
Concepts:<br />
1. Template reference variables : - Référence à un élément DOM particulier.<br />
2. ElementRef - est une classe, qui se compose de tous les éléments DOM natifs.
En utilisant l'objet nativeElement, nous pouvons accéder à tous les éléments DOM
dans Angular.<br />
3. @Viewchild/@Viewchildren. - Sélectionne les éléments enfants ou tous les
éléments enfants du DOM.<br />
4. AfterViewInit - Ce crochet de cycle de vie est appelé après que le composant
Angular ait initialisé sa vue.<br />
<br />

<span #mytext>texte methode 1</span>
